/*
Theme Name: 	Twenty Twenty Child
Theme URI: 		localhost:8080/CMS
Description: 	Twenty Twenty Child Theme
Author: 		Nathan Galea
Template: 		twentytwenty
version: 		1.0.0
*/

@import url("../twentytwenty/style.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#wpadminbar .quicklinks .ab-empty-item, #wpadminbar .quicklinks a, #wpadminbar .shortlink-input {
    height: 32px;
    display: block;
    padding: 0 10px;
    color: #fff !important;
}

body{
	font-family: 'Raleway', sans-serif !important;
}

/* Header */

h1.entry-title, h2.entry-title {
    margin: 0;
    font-weight: 100;
    font-size: 77px;
}

.icon {
    right: -0.5rem;
    top: 25%;
}

body:not(.overlay-header) .primary-menu > li > a, body:not(.overlay-header) .primary-menu > li > .icon, .modal-menu a, .footer-menu a, .footer-widgets a, #site-footer .wp-block-button.is-style-outline, .wp-block-pullquote:before, .singular:not(.overlay-header) .entry-header a, .archive-header a, .header-footer-group .color-accent, .header-footer-group {
    color: #3a3a3a !important;	
	text-decoration: none !important;	   
	font-size: 20px;
}

.primary-menu li.current-menu-item {
    text-decoration: none !important;
    font-weight: 700;
}


/* Footer */

.footer-menu a {
	font-size: 16px;
}

.widget-title {
    font-size: 25px;
}

/* SC - Latest posts */

.latest_post_sc{
    border-left: 1px solid #54595F;
    padding: 20px;
}

.latest_post_sc_anounce{
	font-size: 15px !important;
	color: #dfc15e;
	font-weight: 400 !important;
	text-transform: uppercase;
}
.entry-content h2, .entry-content h3 {
    font-family: 'Raleway', sans-serif !important;
    margin: 0;
    font-weight: 500;
    font-size: 40px;
}


/* SC - Latest products  */

.latest_prod_container {
  position: relative;
  display: flex;
}

.latest_prod_card {
  display: flex;
  height: fit-content;
  width: fit-content;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.latest_prod_card:not(:first-child) {
    margin-left: -50px;
}

.latest_prod_card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.latest_prod_card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.latest_prod_title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.latest_prod_card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}


/* Store header */

.xoo-wsc-items-count {
    background-color: #3a3a3a !important;
    color: #ffffff;
}

.woocommerce-products-header__title.page-title {
    text-align: left;
    font-size: 66px !important;
    font-family: inherit;
    border-bottom: 2px solid #333;
    padding: 40px;
    padding-top: 0px;
    font-weight: 200 !important;
    margin-bottom: 80px;
}

.woocommerce-breadcrumb {
    display: none;
}

/* Store button 'Add to basket' */

ul.products li.product .button {
    text-decoration: none !important;
    width: 100%;
    background: #3a3a3a;
    padding: 10px 0px 10px 0px;
}

.onsale {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: #3a3a3a;
    color: #fff;
    font-family: inherit;
    font-size: 1.7rem;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: inherit;
    padding: 1.5rem;
}

select {
    font-size: 1em;
    padding: 10px 20px 10px 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}


/* Articles page */

#site-content .post-inner {
	padding-top: 30px !important;
}

/* Account page */

.woocommerce-info {
    background: #fafafa;
    color: #000;
    border-top: 0;
}

#wpum-account-forms-tabs ul li a {
    color: #3a3a3a !important;
}

.entry-content h2, .entry-content h3 {
    font-family: 'Raleway', sans-serif !important;
    margin: 0;
	font-weight: 100;
}

.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    max-width: 75%;
    width: calc(100% - 4rem);
}

#wpum-account-forms-tabs ul li.active {
    background: #fff;
	font-weight: 900;
}

.wpum-uploaded-files{
	width: 30%;
}

.wpum-remove-uploaded-file{
	color: #3a3a3a !important;
}

/* API */

.top-rated-movies {    
    width: 50%;
    float: left;      
    margin-bottom: 25px;
}

.api_search{
	margin: 20px !important;
    margin-left: 0px !important;
    width: 50% !important;
}

/* GDPR */

.cli-plugin-button, .cli-plugin-button:visited, .medium.cli-plugin-button, .medium.cli-plugin-button:visited {
	background-color: #3a3a3a !important;
}

#cookie-law-info-again {
    box-shadow: none;
    padding: 10px;
    background: #3a3a3a !IMPORTANT;
    color: #fff !IMPORTANT;
}

/* SC - Upcoming sale */ 

.sc_countdown_section{
	border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin: 0 auto;
    width: 100%;
    padding: 50px;
}

.countdown_title{
	text-align: center;
	color: #78bca1;
	font-family: "Raleway", Sans-serif !important;
	text-transform: uppercase;
}

.countdown_header{
	text-align: center;
	color: #333;
	font-family: "Raleway", Sans-serif !important;
	text-transform: uppercase;
}

.countdown{
	text-align: center;
	font-size: 45px;
	color: #3E3E3E;
	font-family: "Raleway", Sans-serif !important;
	margin-bottom: 0;
}

.countdown_text_top{
	text-align: center;
	color: #333;
	margin-bottom: 0;
	text-transform: uppercase;
}

.countdown_text_bottom {
	text-align: center;
	color: #333;
}

/* SC - About */

.sc_about_section{
	padding-left: 200px;
    padding-right: 200px;	
}

.sc_about_title{
	color: #DFC15E;
    font-size: 60px !important;
	text-align: center;
	padding-bottom: 30px;
}

.sc_about_text{
	color: #fff;
	font-size: 24px !important;
}

.covid_disclaimer{
	color: #fff;
    border-top: 1px solid #fff;
    margin-top: 50px;
}

.covid_text{
	font-size: 24px;	
}

.covid_title{
	padding-top: 20px;
    font-size: 35px;
    color: #DFC15E;
}

/* SC - FAQ */

.faq_title{
	text-align: center;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}
 
summary::-webkit-details-marker {
	color: #333;
	font-size: 100%;
	margin-right: 2px;
}
summary:focus {
	outline-style: none;
}

.faq-card-body{
	padding: 30px 0px 30px 0px;
}

article > details > summary {
	font-size: 28px;
}

details > p {
	margin-left: 24px;
}

details details {
	margin-left: 36px;
}

details details summary {
	font-size: 16px;
}

details > p {
	margin-left: 24px;
}

details details {
	margin-left: 36px;
}

details details summary {
	font-size: 16px;
}

/* Contact */

.wpcf7-submit{
	background: #3a3a3a !IMPORTANT;
    float: right;
    width: 20%;
}

form, label {
	width: 100%;
}

/* SC - Opening times */

.sc_opening_info_section {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.sc_opening_info_title {
    color: #FFF;
    font-size: 35px;
    line-height: 1.5;
}

.opening_info_days_section{
	padding: 40px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sc_opening_info_weekday{
	color: #ffffff;
    margin-bottom: 0px;
    font-size: 23px;    
}

.sc_opening_info_weekday_time{    
    font-size: 23px !important;
    color: #747474;
    padding: 20px;
}

.sc_opening_info_section_contact {
	color: #FFF;
}

/* SC - Store location */

#map {
	height: 400px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
	padding: 0 !important;
}

/* Social media share icons */

.addtoany_share_save_container, .addtoany_content, .addtoany_content_bottom{
	max-width: 100% !important;
    text-align: center;
}

.addtoany_header {
    margin-top: 50px;
}

/* Mobile view */

@media only screen and (max-width: 600px) {
	.top-rated-movies {   
		width: 100%;
	}
	
	.product-category{
		display: none !important;
	}
	
	.trailer{
		width: 100%;
		height: auto;
	}	
	
	.sc_about_section {
		padding-left: 0;
		padding-right: 0;
	}
}

/* Other */

.button, .submit, input[type="submit"]{
    background-color: #444 !important;
    background-image: none;
    text-shadow: none !important;
    color: #fff !important;
}